{
    "extends": "airbnb",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true,
    },
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
    },
    "rules":{
      "no-underscore-dangle": "off",
      "react/forbid-prop-types": "off",
      "operator-assignment": "off",
    }
}
